:root {
    --primary-color: #339933;
    --secondary-color: #1d541d;
}

/* ----------------------- Globals ------------------------- */

body {
    font-family: "Montserrat", system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display",  Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:active, a:visited {
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
}

/* -------------------------- Particulars ----------------------- */
header {
    position: fixed;
    width: 100%;
}

nav {
    margin: auto;
}

nav a,
nav a:visited
 {
    color: var(--primary-color);
}

nav ul{
    margin-left: auto;
    width: 100%;
    justify-content: space-around;
}

nav ul li {
    margin-left: 1em;
    margin-right: 1em;
}

#banner {
    min-height: 100vh;
    background-image: url("../images/martin-luther-germany-reformation-protestant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 500px 100px #000;
    margin: 0%;
}

#banner h2 {
    margin: 0%;
}
